body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0.2,0,0,0)), url(sunset.jpg);
  color: white;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-family: 'Yusei Magic', sans-serif;
  color: #ccff33;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 6px;
  padding: 40px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn2 {
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 0.4s ease;
}

.btn2:hover {
  background-color: white;
  color: black; 
}

#social {
  text-align: center;
  float: right;
}